[project]
name = "podgenai"
version = "0.1.0"
description = "GPT4 audio podcast generator"
authors = [
    { name = "Ouroboros Chrysopoeia", email = "impredicative@users.noreply.github.com" }
]
dependencies = [
    "openai>=1.14.3",
]
readme = "README.md"
requires-python = ">= 3.8"

[project.scripts]
podgenai = "podgenai.__main__:main"

[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[tool.rye]
managed = true
dev-dependencies = []

[tool.hatch.metadata]
allow-direct-references = true

[tool.hatch.build.targets.wheel]
packages = ["src/podgenai"]
